$color-blue: #8094d6;
$color-blue-dark: #253772;
$color-blue-light: #e8edf6;
$color-orange: #d46a48;
$color-orange-dark: #682c18;
$color-orange-light: #fdf0ec;
$color-mint-background: #f3faf8;
$color-mint: #6d947e;
$color-mint-dark: #344539;
$color-mint-light: #f3faf8;
$color-error: #d61500;
$color-error-light: #fee8e6;
$color-info: #0276ac;
$color-info-light: #e6f6fe;
$color-success: #337f2f;
$color-success-light: #edf8ec;
$color-warning: #8f6b00;
$color-warning-light: #fff7de;
$color-black: #000000;
$color-gray-100: #f2f2f2;
$color-gray-200: #e4e4e4;
$color-gray-300: #bbbbc4;
$color-gray-400: #616673;
$color-gray-500: #1a1a1e;
$color-white: #ffffff;