$fontFamilyAcronymLight: 'Acronym-Light, sans-serif';
$fontFamilyAcronymRegular: 'Acronym-Regular, sans-serif';
$fontFamilyAcronymSemiBold: 'Acronym-Semibold, sans-serif';
$fontFamilyAcronym-Bold: 'Acronym-Bold, sans-serif';